@import url(http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic|PT+Serif:400,700,400italic,700italic);

	.wrapper {
		position: relative;
		overflow: auto;
		margin: 5px;
	}
	
	.scroller {
		padding: 10px;
		max-width: 1000px;
	}
	
	.scroller table {
		width: 100%;
	}
	
/* Global */
body, img {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	font-size: 14px;
	font-family: 'PT Serif', serif;
	background: #fffdf8 url('bg-new.png') top left no-repeat;
}

p {
	line-height: 1.4em;
	margin: 15px 0;
}

h1 {
	font: normal 32px 'PT Serif', serif;
	margin: 30px 0 0 0;
}
	
h2 {
	font: normal 26px 'PT Serif', serif;
	margin: 30px 0 0 0;
}

h3 {
	font: normal 20px 'PT Serif', serif;
	margin: 30px 0 0 0;
}

h1 + p, h2 + p, h3 + p {
	margin: 5px 0 10px 0;
}

hr {
  margin: 5px auto;
  border: 0;
  border-top: 1px solid #bbb;
}

sup {
	line-height: 0;
}

.nowrap {
	white-space: nowrap;
} 

/* Structure */

.header {
	width: 250px;
}

.header-content {
	float: left;
	width: 250px;
	text-align: center;
}

#header-mobile {
	display: none;
}

.body-content {
	margin-left: 250px;
}

.body {
	margin: -15px 10px 10px 10px;
}

.footer {
	font: normal 10px 'Lato', sans-serif;
	text-align: center;
	margin: 50px 10px 30px 10px;
}

/* Links/Type */
a {
	color: #33337C;
	text-decoration: none;
}

a:active, a:hover {
	text-decoration: underline;
}


/* Navigation */
#nav-path {
	font: bold 11px 'Lato', sans-serif;
	color: #777;
	text-transform: uppercase;
	padding: 20px 0 0 10px;
}

#nav-path a {
	color: #871c1c;
	padding: 0 3px;
}

.nav-menu {	
	position: relative;
	top: -30px;
}

.menu-link {
	float: right;
	display: block;
	color: #fafafa !important;
	font: normal 14px 'Lato', sans-serif;
	padding: 0 10px 0 0;
}

.menu {
	position: relative;
	top: 12px;
	font: normal 14px 'Lato', sans-serif;
}

.menu, .menu > ul ul {
	clear: both;
}

.js .menu, .js .menu > ul ul {
	overflow: hidden;
	max-height: 0;
}

.menu.active, .js .menu > ul ul.active {
	max-height: 12000px;
	display: block;
}

.menu a {
	color: #fcfcfc;
}

.menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.menu ul li ul li {
	padding-left: 10px;
}

.menu li a {
	display: block;
	position: relative;
	padding: 8px;
}

.menu li {
	background: #70060b;
	border-bottom: 1px solid #4d0207;
}

.level-2 li {
	background: #80171c;
	border: 0;
}

.level-2 .has-subnav {
	padding-left: 0;
}

.level-3 li {
	background: #93242a;
	padding-left: 20px !important;
}

.active-level {
	font-style: italic;
	font-weight: bold;
}

.menu li.has-subnav > a:after {
	content: '+';
	position: absolute;
	top: 0;
	right: 0;
	display: block;
	padding: 10px;
}

.menu li.has-subnav > a.active:after {
	content: '-';
}

@media only screen and (min-width: 800px) {
	.nav-menu {
		max-width: 250px;
		margin: 0;
		float: left;
		position: relative;
		top: 0;
	}

	.menu {
		position: relative;
		top: 0;
	}
	
	.menu-link {
		display: none;
	}
	
	.js .menu, .js .menu > ul ul {
		max-height: none;
		overflow: visible;
		background: none;
	}
	
	.js .menu > ul ul {
		display: none;
	}
	
	.menu > ul {
		width: 236px;
		margin: 10px 8px;
	}
	
	.menu li.has-subnav > a {
		padding-right: 2em;
	}
	
	.menu > ul > li, .menu > ul ul li {
		position: relative;
	}
	
	.menu > ul ul.level-2 {
		top: 3em;
		left: 0;
	}
	
	.nav-text {
		font-size: 12px;
		text-align: center;
		background: none !important;
		border: 0 !important;
		padding: 5px 0;
	}
	
	.nav-text a {
		padding: 0 !important;
		display: inline !important;
		color: #33337C;
	}
	
	.search {
		background: none !important;
		border: 0 !important;
		padding: 0 0 5px 0 !important;
	}
	
	.search input {
		width: 230px;
		line-height: 18px;
		padding: 0 0 0 2px;
	}
	
	.nav-mobile {
		display: none;
	}
}


/* Tables */

table {
	font-family: 'Lato', sans;
	border-collapse: collapse;
	margin: 10px 0 20px 0;
	text-align: left;
}

caption {
	font: bold 18px 'PT Serif', serif;
}

th {
	border-bottom: 2px solid #585858;
	white-space: nowrap;
	vertical-align: bottom;
	font-size: 15px;
	padding: 5px 10px 5px 10px;
}

th:first-child {
	text-align: left;
}

td {
	vertical-align: top;
	white-space: nowrap;
}

tbody tr:nth-child(odd) td {
	background: rgba(0, 0, 0, 0.05);
}

tbody tr {
	border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

tbody th {
	padding: 15px 10px 5px 10px;
}

tbody td {
	padding: 5px 10px 5px 10px;
}

tbody td:first-child {
	white-space: nowrap !important;
}

tfoot {
	border-top: 2px solid #ccc;
}
	
tfoot td {
	font-size: 12px;
	padding: 5px 0 0 0;
	white-space: normal;
}

.indent-1 {
	text-indent: 10px;
}

.indent-2 {
	text-indent: 20px;
}

/* Stat Blocks */
.monster-header {
	font: normal 36px 'PT Serif', serif;
	font-variant: small-caps;
	font-weight: 600;
	margin: 20px 0 10px 0;
}

.stat-block-title, .stat-block-breaker {
	font: normal 16px 'Lato', sans-serif;
	text-transform: uppercase;
}

.stat-block-title {
	font-weight: bold;
	letter-spacing: 1px;
	background-color: black;
	color: white;
	margin: 25px 0 5px 0;
	padding: 2px 0 2px 5px;
}

.stat-block-breaker {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	margin: 8px 0;
}

.flavor-text {
	font-style: italic;
}

.stat-block, .stat-block-1, .stat-block-2 {
	font: normal 13px 'Lato', sans-serif;
	line-height: 1.5em;
	margin: 5px 0;
}
   	
.stat-block-2 {
	text-indent: 25px;
}

.stat-block-xp {
	font: normal 14px 'Lato', sans-serif;
	font-weight: bold;
	margin: 0;
}
	
.stat-block-cr {
	float: right;
	padding: 0 5px 0 0;
}

.stat-block-rp {
	padding: 0 0 0 10px;
	font-weight: bold;
	font-style: italic;
}

/* Indexes */
.shortcut-bar {
	font: normal 14px 'Lato', sans-serif;
	text-align: center;
	line-height: 1.75em;
	border-bottom: 1px solid #ccc;
	padding: 0 0 10px 0;
}

.shortcut-bar-full {
	border-top: 1px solid #ccc;
}

.shortcut-bar a {
	padding: 0 5px;
	font-weight: bold;
}

.shortcut-bar span {
	padding: 0 5px;
}

.index, .spell-list-index {
	display: block; 
	width: 100%;
}

.index ul, .spell-list-index ul {
	display: block;
	padding: 0;
	list-style: none;
}

.index ul:before, .spell-list-index ul:before {
	display: block;
	width: 100%;
	content: attr(title);
}

.index ul {
	-moz-column-width: 200px;
	-moz-column-gap: 5px;
	-webkit-column-width: 200px;
	-webkit-column-gap: 5px;
	-o-column-width: 200px;
	-o-column-gap: 5px;
	column-gap: 10px;
	column-width: 200px;
}

.index ul:before {
	-moz-column-span: all;
	-webkit-column-span: all;
	-o-column-span: all;
	column-span: all;
}

.index li, .spell-list-index li {
	margin-left: 2em;
	text-indent: -1em;
}

.index a {
	column-break-inside: avoid;
	break-inside: avoid;
	-moz-column-break-inside: avoid;
	-moz-break-inside: avoid;
	-webkit-column-break-inside: avoid;
	-webkit-break-inside: avoid;
	-o-column-break-inside: avoid;
	-o-break-inside: avoid;
}

.index > ul, .spell-list-index > ul {
	font-size: 18px;
}

.index > ul li, .spell-list-index > ul li {
	font-size: 14px;
}

/* Mobile & Small Screens */
@media only screen and (max-width: 800px) {
	body {
		background: #fffefc url('bg-mobile-new.png') top right no-repeat;
	}
		
	.header {
		width: 100%;
		clear: both; }
		
	.header-content {
		text-align: center;
		background: #660308;
		background-image: -ms-linear-gradient(top, #660308 0%, #4d0105 100%);
		background-image: -moz-linear-gradient(top, #660308 0%, #4d0105 100%);
		background-image: -o-linear-gradient(top, #660308 0%, #4d0105 100%);
		background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #660308), color-stop(1, #4d0105));
		background-image: -webkit-linear-gradient(top, #660308 0%, #4d0105 100%);
		background-image: linear-gradient(to bottom, #660308 0%, #4d0105 100%);
		background-repeat: repeat-x;
		border-bottom: 1px solid #330003;
		-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
		-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
		box-shadow: 0 0 2px #ccc;
		height: 44px;
		width: 100%;
	}
	
	#header-full {
		display: none;
	}
	
	#header-mobile {
		display: block;
		text-align: left;
		color: #f8f6e7;
	}
	
	.body-content {
		margin-left: 0 !important;
		margin-top: -5px !important;
	}
	
	td, th, tbody td:first-child {
		white-space: normal !important;
	}
	
	.search input {
		width: 95%;
		line-height: 25px;
		padding: 0 0 0 5px;
	}
	
	.search {
		padding: 10px 0 !important;
		text-align: center;
	}
	
	.nav-text {
		display: none;
	}
	
	#nav-path {
		padding: 5px 0 0 10px;
	}
	
	.nav-mobile {
		display: block;
	}
}

@media only screen and (max-width: 600px) {
	.wrapper {
		max-height: 300px;
		margin: 15px 5px;
	}
	
	caption {
		text-align: left;
	}
}




/**
 * Minimalist theme
 *
 */
/* Slight reset to make the preview have ample padding. */
.cse .gsc-control-cse,
.gsc-control-cse {
  padding: 1em;
  width: auto;
}
.cse .gsc-control-wrapper-cse,
.gsc-control-wrapper-cse {
  width: 100%;
}
.cse .gsc-branding,
.gsc-branding {
  display: none;
}
/* Selector for entire element. */
.cse .gsc-control-cse,
.gsc-control-cse {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  border: 1px solid #ffffff;
}
.gsc-control-cse .gsc-table-result {
  font-family: Arial, sans-serif;
}
.cse .gsc-control-cse:after,
.gsc-control-cse:after {
  content:".";
  display:block;
  height:0;
  clear:both;
  visibility:hidden;
}
/* Search form */
.cse form.gsc-search-box,
form.gsc-search-box {
  padding: 8px 4px 2px 6px;
  margin-bottom: 6px;
}
.cse .gsc-branding-text,
.gsc-branding-text {
  color: #000000;
}
/**
 * Table cell containing the search input.
 * 12 pixels added to account for the horizontal padding on the input.
 */
.cse table.gsc-search-box td.gsc-input,
table.gsc-search-box td.gsc-input {
  padding-right: 12px;
}
.cse .gsc-search-box,
.gsc-search-box {
  border-collapse: collapse;
}
/* Search input */
.cse input.gsc-input,
input.gsc-input {
  font-family: inherit;
  border: 1px solid #BBB;
  padding: 3px 6px;
  width: 99%;
  font-size: 16px;
}
/* Search button */
.cse input.gsc-search-button,
input.gsc-search-button {
  font-family: inherit;
  font-size: 11px;
  color: #fff;
  font-weight: bold;
  padding: 0 8px;
  height: 27px;
  min-width: 54px;
  background-color: #333333;
  border: 1px solid #000;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}
/* Base tab selector styles */
.cse .gsc-tabHeader,
.gsc-tabHeader {
  font-weight: bold;
  font-size: 11px;
  text-transform: uppercase;
  padding: 2px 8px 0 8px;
}
/* Inactive tab */
.cse .gsc-tabHeader.gsc-tabhInactive,
.gsc-tabHeader.gsc-tabhInactive {
  background-color: #777777;
  border: 1px solid;
  border-color: #777777;
  border-bottom: none;
  color: #ffffff;
}
/* Active tab */
.cse .gsc-tabHeader.gsc-tabhActive,
.gsc-tabHeader.gsc-tabhActive {
  background-color: #333333;
  border: 1px solid;
  border-color: #333333;
  border-bottom: none;
  color: #ffffff;
}
/* This is the tab bar bottom border. */
.cse .gsc-tabsArea,
.gsc-tabsArea {
  margin-top: 1em;
  border-bottom: 1px solid #333333;
  padding: 0;
}
/* Inactive refinement */
.cse .gsc-refinementHeader.gsc-refinementhInactive,
.gsc-refinementHeader.gsc-refinementhInactive {
  color: #444444;
}
.cse .gsc-resultsHeader,
.gsc-resultsHeader {
  margin: 0;
  border: block;
}
/* Wrapper for all results */
.cse .gsc-results,
.gsc-results {
  width: 100%;
  margin-top: 1em;
}
/* Uber-wrapper for a result. Add padding to elements within a result block */
.cse .gs-result div.gs-title,
div.gs-title,
.cse .gs-result .gs-snippet,
.gs-result .gs-snippet,
.cse .gs-result .gs-visibleUrl,
.gs-result .gs-visibleUrl,
.cse .gs-spelling,
.gs-spelling {
  padding: 0;
}
/* Font size */
.cse .gs-result .gs-snippet,
.gs-result .gs-snippet,
.cse .gs-spelling-original,
.gs-spelling-original {
  font-size: 14px;
  line-height: 18px;
}
/* Inner wrapper for a result */
.cse .gsc-webResult.gsc-result,
.gsc-webResult.gsc-result,
.gsc-imageResult-classic,
.gsc-imageResult-column {
  padding: 0 0 0 .5em;
  border-left: 1px solid;
  border-color: #ffffff;
  border-bottom: 0px solid;
  margin-bottom: 1em;
}
/* Result hover event styling */
.cse .gsc-webResult.gsc-result:hover,
.gsc-webResult.gsc-result:hover,
.gsc-webResult.gsc-result.gsc-promotion:hover,
.gsc-results .gsc-imageResult-classic:hover,
.gsc-results .gsc-imageResult-column:hover {
  border-left: 1px solid;
  border-color: #000000;
  border-bottom: 0px solid;
}
/* Set link colors. */
.cse .gs-webResult.gs-result a.gs-title:link,
.gs-webResult.gs-result a.gs-title:link,
.cse .gs-webResult.gs-result a.gs-title:link b,
.gs-webResult.gs-result a.gs-title:link b,
.cse .gs-webResult.gs-result a.gs-title:visited,
.gs-webResult.gs-result a.gs-title:visited,
.cse .gs-webResult.gs-result a.gs-title:visited b,
.gs-webResult.gs-result a.gs-title:visited b,
.cse .gs-webResult.gs-result a.gs-title:hover,
.gs-webResult.gs-result a.gs-title:hover,
.cse .gs-webResult.gs-result a.gs-title:hover b,
.gs-webResult.gs-result a.gs-title:hover b,
.gs-imageResult a.gs-title:link,
.gs-imageResult a.gs-title:link b,
.gs-imageResult a.gs-title:visited,
.gs-imageResult a.gs-title:visited b,
.gs-imageResult a.gs-title:hover,
.gs-imageResult a.gs-title:hover b,
.cse .gsc-cursor-page,
.gsc-cursor-page,
.cse .gsc-trailing-more-results:link,
.gsc-trailing-more-results:link,
.cse .gs-spelling a,
.gs-spelling a {
  color: #444444;
}
.cse .gs-webResult.gs-result a.gs-title:active,
.gs-webResult.gs-result a.gs-title:active,
.cse .gs-webResult.gs-result a.gs-title:active b,
.gs-webResult.gs-result a.gs-title:active b,
.gs-imageResult a.gs-title:active,
.gs-imageResult a.gs-title:active b {
  color: #777777;
}
/* Snippet text color */
.cse .gs-webResult .gs-snippet,
.gs-webResult .gs-snippet,
.gs-fileFormatType,
.gs-imageResult .gs-snippet {
  color: #333333;
}

/* Size text color */
.gs-imageResult .gs-size,
.gs-imageResult .gs-size {
  color: #333333;
}

/* URL text color */
.cse .gs-webResult .gs-visibleUrl,
.gs-webResult .gs-visibleUrl,
.cse .gs-webResult .gs-visibleUrl-short,
.gs-webResult .gs-visibleUrl-short,
.gs-imageResult .gs-visibleUrl,
.gs-imageResult .gs-visibleUrl-short {
  color: #000000;
  font-weight: bold;
}
/* Pagination container centered */
.cse .gsc-cursor-box,
.gsc-cursor-box {
  border-top: 1px dotted;
  border-color: #333333;
  padding: .5em 0 0 .5em;
  text-align: left;
}
/* Selected pagination */
.cse .gsc-results .gsc-cursor-page.gsc-cursor-current-page,
.gsc-results .gsc-cursor-page.gsc-cursor-current-page {
  color: #fff;
  background-color: #333333;
  text-shadow: 0 1px 1px #000;
  padding: 0 5px;
}
/*Promotion Settings*/
/* The entire promo */
.cse .gsc-webResult.gsc-result.gsc-promotion,
.gsc-webResult.gsc-result.gsc-promotion {
  background-color: #E6E6E6;
  border-color: #CCCCCC;
}
/* Promotion links */
.cse .gs-promotion a.gs-title:link,
.gs-promotion a.gs-title:link,
.cse .gs-promotion a.gs-title:link *,
.gs-promotion a.gs-title:link *,
.cse .gs-promotion .gs-snippet a:link,
.gs-promotion .gs-snippet a:link {
  color: #0000CC;
}
.cse .gs-promotion a.gs-title:visited,
.gs-promotion a.gs-title:visited,
.cse .gs-promotion a.gs-title:visited *,
.gs-promotion a.gs-title:visited *,
.cse .gs-promotion .gs-snippet a:visited,
.gs-promotion .gs-snippet a:visited {
  color: #0000CC;
}
.cse .gs-promotion a.gs-title:hover,
.gs-promotion a.gs-title:hover,
.cse .gs-promotion a.gs-title:hover *,
.gs-promotion a.gs-title:hover *,
.cse .gs-promotion .gs-snippet a:hover,
.gs-promotion .gs-snippet a:hover {
  color: #444444;
}
.cse .gs-promotion a.gs-title:active,
.gs-promotion a.gs-title:active,
.cse .gs-promotion a.gs-title:active *,
.gs-promotion a.gs-title:active *,
.cse .gs-promotion .gs-snippet a:active,
.gs-promotion .gs-snippet a:active {
  color: #00CC00;
}
/* Promotion snippet */
.cse .gs-promotion .gs-snippet,
.gs-promotion .gs-snippet,
.cse .gs-promotion .gs-title .gs-promotion-title-right,
.gs-promotion .gs-title .gs-promotion-title-right,
.cse .gs-promotion .gs-title .gs-promotion-title-right *,
.gs-promotion .gs-title .gs-promotion-title-right * {
  color: #333333;
}
/* Promotion url */
.cse .gs-promotion .gs-visibleUrl,
.gs-promotion .gs-visibleUrl {
  color: #00CC00;
}
/* Style for auto-completion table
 * .gsc-completion-selected : styling for a suggested query which the user has moused-over
 * .gsc-completion-container : styling for the table which contains the completions
 */
.gsc-completion-selected {
  background: #eee;
}
.gsc-completion-container {
  font-family: Arial, sans-serif;
  font-size: 16px;
  background: white;
  border: 1px solid #BBB;
  margin-left: 0;
  margin-right: 0;
  /* The top, left, and width are set in JavaScript. */
}
.gsc-completion-title {
  color: #0000CC;
}
.gsc-completion-snippet {
  color: #333333;
}

/* Full URL */
.gs-webResult div.gs-visibleUrl-short,
.gs-promotion div.gs-visibleUrl-short {
  display: none;
}
.gs-webResult div.gs-visibleUrl-long,
.gs-promotion div.gs-visibleUrl-long {
  display: block;
}

.gsc-rating-bar {
  display: inline-block;
  width: 54px;
  height: 10px;
  background: transparent url(/cse/images/cse_snippets_stars.png) -52px -52px no-repeat;
  margin: 3px 0 0 0;
}

.gsc-rating-bar span {
  display: inline-block;
  height: 10px;
  background: transparent url(/cse/images/cse_snippets_stars.png) 0 -52px no-repeat;
  padding: 4px 0 0 0;
}

.gsc-reviewer {
  color: #222;
}

.gsc-author {
  color: #222;
}

.gsc-table-cell-thumbnail,
.gs-promotion-image-cell {
  padding: 0 0 0 6px;
}

.gsc-option-menu-item-highlighted {
  background-color: #eee;
}

/* Facet box css */
.gsc-context-box {
  font-size: 83%;
  margin-top: 3px;
  border-collapse: collapse;
}

.gsc-context-box .gsc-col {
  padding:1px 0;
  white-space: nowrap;
  vertical-align: middle;
}

.gsc-context-box .gsc-facet-label {
  width: 65px;
  padding-left: 2px;
  text-decoration: underline;
  color: #333333;
  cursor: pointer;
}

.gsc-context-box .gsc-chart {
  width: 32em;
  padding: 3px;
  border-left: 1px solid #777777;
  border-right: 1px solid #777777;
}

.gsc-context-box .gsc-top {
  border-top: 1px solid #777777;
}

.gsc-context-box .gsc-bottom {
  border-bottom: 1px solid #777777;
}

.gsc-context-box .gsc-chart div {
  background: #777777;
  height: 9px;
}

.gsc-context-box .gsc-facet-result {
  color: #333333;
  width: 30px;
  text-align: right;
  padding-right: 5px;
}

/* Universal one box css. */
.gsc-usr-group-thumbnail {
  display: inline-block;
  max-width: 72px;
  max-height: 72px;
}
.gsc-usr-group-thumbnail img {
  max-height: 72px;
  overflow: hidden;
}
.gs-webResult .gs-title
.gs-title.gsc-usr-group-heading {
  color: #333333;
  cursor: pointer;
}
.gsc-usr-group {
  min-height: 100px;
  zoom: 1;
  display: block;
  line-height: 1.24;
  margin-top: -7px;
  margin-bottom: -7px;
  margin-left: 20px;
}
.gsc-usr-group-content {
  padding-top: 1px;
  padding-bottom: 3px;
}
.gsc-usr-group-content-thumbnail {
  display: inline-block;
  vertical-align: top;
}
.gsc-usr-group-head-result {
  display: inline-block;
  padding-left: 6px;
}
.gsc-usr-group-snippet {
  width: 100%;
  height: 3.6em;
  overflow: hidden;
}
.gsc-usr-group-content-results {
  font-size: 12px;
  padding-left: 1px;
  width: 80%;
  padding-top: 7px;
}
.gsc-usr-group-head-results {
  display:inline-block;
  font-size: 13px;
  padding-left: 6px;
  width: 80%;
}
.gs-webResult .gs-title
.gs-title.gsc-usr-group-all-results {
  font-size: 11px;
  line-height: 10px;
}
.gs-webResult .gs-title
.gs-title.gsc-usr-group-all-results
b {
  font-size: 14px;
  font-weight: 600;
}
.gs-webResult .gs-title
.gs-title.gsc-usr-group-heading
b {
  color: #333333;
}